<%= will_paginate(@tasks, class: "pagination justify-content-center text-muted m-5") if @tasks.present? %>

<table class="table mt-2">
  <thead>
    <tr>
      <td><h3>Completed List</h3></td>
    </tr>
  </thead>
  <tr>
    <td>Title</td>
    <td>Content</td>
    <td>Timalimit</td>
  </tr>
  <% @tasks.each do |task| %>
    <% if status(task) == 'completed' %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.timelimit %></td>
        <td><%= link_to "Edit", edit_task_path(task), method: :get, class: "text-info" %></td>
        <td><%= link_to "InComplete", edit_completed_task_path(task), method: :patch, class: "text-success" %></td>
        <td><%= link_to "Delete", pre_destroy_task_path(task), method: :patch, class: "text-danger", data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= will_paginate(@tasks, class: "pagination justify-content-center text-muted m-5")  if @tasks.present? %>