<table class="table text-center text-muted">
  <%= form_with(scope: :task, url: tasks_path, local: true) do |f| %>
    <thead>
      <tr>
        <td><h3 class="mt-3">New Task</h3></td>
      </tr>
    </thead>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title, autocomplete: 'off' %></td>
    </tr>
    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.text_area :content %></td>
    </tr>
    <tr>
      <td><%= f.label :Limit %></td>
      <td><%= f.date_field :timelimit %></td>
    </tr>
    <tr>
      <%= form_with(model: @projects) do |p| %>
        <td><%= p.label :Project %></td>
        <td><%= p.select :project_id, Project.all.map {|project| [ project.project_name, project.id ]}%></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.submit "submit", class:"btn btn-sm btn-primary" %></td>
      <td><%= link_to "cancel", tasks_path, class:"text-reset text-muted" %></td>
    </tr>
  <% end %>
</table>