<h3>All Tasks List</h3>

<ul class="tasks mt-5">
  <% @tasks.each do |task| %>
    <li>
      <input class="form-check-input" type="checkbox" value="">
      <label class="form-check-label" for="defaultCheck1">
      <span><%= task.id %>. </span>
      <%= link_to task.title, edit_task_path(task), method: :get, class: "text-info" %>
      <%= link_to "delete", task, method: :delete, class: "text-danger", data: { confirm: "You sure?" } %>
    </li>
    <div class='text-muted mt-1 mb-2'><%= task.content %></div>
    <div class='text-muted mt-1 mb-2'><%= task.timelimit %></div>
    <div class='text-success mt-1 mb-2'>by <%= owner(task) %></div>
  <% end %>
</ul>