<h3 class="mt-5 mb-3">All Users List</h3>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Admin</td>
    <td>Task</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.tasks.count %></td>
      <td><%= link_to 'edit', edit_user_path(user), class: "text-info" %></td>
      <td><%= link_to 'Delete', user_path(user), method: :delete, class: "text-danger", data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>