<h1>New User</h1>
<table class="table">
  <%= form_with(scope: :user, url:users_path, local: true) do |form| %>
    <tr>
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name, class: 'form-control', autocomplete: 'off' %></td>
    </tr>
    <tr>
      <td><%= form.label :email %></td>
      <td><%= form.email_field :email, class: 'form-control', autocomplete: 'off' %></td>
    </tr>
    <tr>
      <td><%= form.label :password %></td>
      <td><%= form.password_field :password, class: 'form-control' %></td>
    </tr>
    <tr>
      <td><%= form.submit "Create User", class: "btn btn-default btn-primary" %></td>
      <td><%= link_to 'cancel', tasks_path, class:"text-reset text-muted" %></td>
    </tr>
  <%end%>
</table>