<table class="table">
  <thead>
    <tr>
      <td>Edit Project</td>
    </tr>
  </thead>
  <%= form_with(scope: :projects, url: project_path, method: :patch, local: true) do |p| %>
    <tbody>
      <tr>
        <td><%= p.label :project_name %></td>
        <td><%= p.text_field :project_name %></td>
      </tr>
      <tr>
        <td><%= p.submit %></td>
        <td><%= link_to "cancel", projects_path, method: :get %></td>
      </tr>
    </tbody>
  <% end%>
</table>