<table class="table mt-2">
  <tbody>
    <tr>
      <td><h3>Project Name</h3></td>
    </tr>
    <tr>
      <td><%= @project.project_name %></td>
      <td><%= link_to "Edit", edit_project_path(@project), method: :get %></td>
      <td><%= link_to "Delete", project_path(@project), method: :delete, class:"text-danger" %></td>
    </tr>
  </tbody>
</table>
<table class="table mt-5">
  <tbody>
    <tr>
      <td><h5>Associate Tasks</h5></td>
    </tr>
    <tr>
      <td>Title</td>
      <td>Content</td>
      <td>Timelimit</td>
    </tr>
    <% if !@project.tasks.empty? %>
      <% @project.tasks.each do |t| %>
        <tr>
          <td><%= link_to "#{t.title}", project_task_path(@project, t) %></td>
          <td><%= t.content %></td>
          <td><%= t.timelimit %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No Contents</td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% end %>
  </tbody>
</table>