<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'css/my-sheet.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'head/header'%>
    </header>
    <div class="container-fluid" style="height: 100vh;">
      <div class="row" style="height: 100%;">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
          <%= render 'admin/index_left' if admin? %>
          <%= render 'projects/left' if !admin? %>
        </div>
        <div class="col-md-10 mt-3">
          <%= render 'head/header_bar' if !admin?%>
          <div class="container-fluid row">
            <div class="col-md-3"></div>
            <div class="col-md-auto">
              <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "mt-3 alert alert-#{message_type}") %>
              <% end %>
              <%= yield %>
            </div>
            <div class="col-md-2 navbar nav navbar-fixed-right">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom">
      <footer>
        ©️ 2019 Hiroaki Ashizawa
      </footer>
    </div>
  </body>
</html>
