<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/tasks">Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users">User <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="d-flex align-items-center ml-3">
              <% if admin? %>
                <%= link_to "Admin" , admin_path, method: :get, class: "text-info" %>
                <div>→→</div>
                <%= link_to "ログアウト" , login_path, method: :delete %>
              <% else %>
                <% if logged_in? %>
                <div>Welcome <%= current_user.name %> !! →→</div>
                <%= link_to "ログアウト" , login_path, method: :delete %>
                <% else %>
                <div>Welcome Guest !! →→</div>
                <%= link_to "ログイン" , login_path, method: :get %>
                <% end %>
              <% end %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div class="media">
            <img src="<%= asset_path "org_profile.jpeg" %>" class="mr-3 img-fluid" alt="sample-image">
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-xl-4">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "Todo", tasks_path, class: "btn btn-secondary" %>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "complete", completed_tasks_path, class: "btn btn-secondary" %>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "deleted", deleted_tasks_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <% flash.each do |message_type, message| %>
            <div class="mt-3 alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="fixed-bottom">
      <footer>
        ©️ 2019 Hiroaki Ashizawa
      </footer>
    </div>
  </body>
</html>
